# Arquivos do sistema operacional
*.DS_Store
Thumbs.db

# Arquivos de ambientes virtuais Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pdb

# Configurações locais e arquivos sensíveis
*.env
settings_local.py
local_settings.py

# Banco de dados locais
*.sqlite3
db.sqlite3
db.sqlite3-journal
*.log

# Diretórios de mídia e arquivos estáticos
/media/
staticfiles/

# Ferramentas de teste e cobertura de código
*.pytest_cache/
.junit.xml
.tox/
.coverage
.coverage.*
*.cover
*.py,cover
.hypothesis/

# Gerados por compilação ou ferramentas de empacotamento
*.egg
*.egg-info/
dist/
build/
develop-eggs/
downloads/
eggs/
.installed.cfg
MANIFEST

# Arquivos e logs do Pip/Pipenv
pip-log.txt
pip-delete-this-directory.txt

# Configurações relacionadas ao Poetry
.poetry.lock
poetry.toml

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
*.manifest
*.spec

# Ferramentas de IDEs
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# Histórico e caches de IDEs
.history/
.cache/
.pytype/
.mypy_cache/
.dmypy.json

# Outros (gerados por bibliotecas ou frameworks)
.scrapy/
.docs/_build/
instance/
.webassets-cache
.pytest/